{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock page_header %}

{% block content %}
    <div class="overlay bg-white"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <h2 class="mt-4 mb-4">Cart</h2>
                <hr class="bg-warning">
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if cart_items %}
                    <p class="text-muted">{{ cart_items|length }} Item{% if cart_items|length > 1 %}s{% endif %} in Cart</p>
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart_items %}
                                    <tr>
                                        {# Product Info #}
                                        <td class="p-3 w-25"><img class="img-fluid rounded-0" src="{% if product.image %}{{ product.image.url }}{% else %}{{ MEDIA_URL }}no-image.webp{% endif %}" alt="{{ product.name }}" alt=""></td>
                                        <td class="py-3">
                                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                            {% if item.custom_message %}
                                                <p class="text-muted">Custom Message: {{ item.custom_message }}</p>
                                            {% endif %}
                                        </td>
                                        {# Price #}
                                        <td class="py-3"><p class="my-0">£{{ item.product.price }}</p></td>
                                        {# Qty #}
                                        <td class="py-3">
                                            <form class="form update-form" action="{% url 'update_cart_item' item.item_id %}" method="POST">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        {# Quantity Decrement #}
                                                        <div class="input-group-prepend">
                                                            <button class="decrement-qty btn btn-sm btn-dark rounded-0"
                                                                data-item-id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                                <span>
                                                                    <i class="fas fa-minus fa-sm"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                        {# Quantity #}
                                                        <input class="form-control form-control-sm qty_input" type="number"
                                                            name="quantity" value="{{item.quantity}}" min="1" max="{{item.product.stock_qty}}"
                                                                data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                                        {# Quantity Increment #}
                                                        <div class="input-group-append">
                                                            <button class="increment-qty btn btn-sm btn-dark rounded-0"
                                                                data-item-id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                                <span>
                                                                    <i class="fas fa-plus fa-sm"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                        {% if item.product.has_custom_message %}
                                                            <input type="hidden" type="text" name="custom_message" value="{{item.custom_message}}">
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </form>
                                            {# Update Item Link #}
                                            <a href="" class=" update-link text-info small">Update</a>
                                            {# Remove Item Link #}
                                            <a href="" class="remove-link text-danger small float-right" id="remove_{{item.item_id}}" {% if item.custom_message or item.custom_message == '' %}data-custom-message="{{item.custom_message}}{% endif %}">Remove</a>
                                            <div class="col">
                                                <div class="row">
                                                    <p id="quantity_message_{{item.product.id}}"></p>
                                                </div>
                                            </div>
                                        </td>
                                        {# Subtotal #}
                                        <td class="py-3">
                                            <p class="my-0">£{{ item.subtotal }}</p>
                                        </td>
                                    </tr>
                                {% endfor %}
                                    <tr>
                                        <td colspan="5" class="pt-5 text-right">
                                            <h6><strong>Cart Total: £{{ total| floatformat:2 }}</strong></h6>
                                            <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                                            <h4 class="mt-4"><strong>Grand Total: £{{grand_total|floatformat:2}}</strong></h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="text-right">
                                            <a href="{% url 'products' %}" class="btn btn-outline-dark rounded-0">
                                                <span class="icon">
                                                    <i class="fas fa-chevron-left"></i>
                                                </span>
                                                <span class="text-uppercase">Keep Shopping</span>
                                            </a>
                                            <a href="" class="btn btn-dark rounded-0">
                                                <span class="text-uppercase">Secure Checkout</span>
                                                <span class="icon">
                                                    <i class="fas fa-lock"></i>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your cart is empty</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-dark rounded-0">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block postload_js %}
    {{ block.super }}
    {% include 'products/includes/quantity_input.html' %}
    <script type="text/javascript">
        // Update Quantity on Click
        $('.update-link').click(e => {
            e.preventDefault()
            const form = $(e.currentTarget).prev('.update-form');
            form.submit();
        })

        // Remove item and reload on Click
        $('.remove-link').click(e => {
            e.preventDefault()
            const csrftoken = "{{ csrf_token }}"
            const itemId = $(e.currentTarget).attr('id').split('remove_')[1];
            const customMessage = $(e.currentTarget).data('customMessage');
            const url = `remove/${itemId}`
            let data = {}
            if (customMessage || customMessage == '') {
                data = {
                    'csrfmiddlewaretoken' : csrftoken,
                    'custom_message': customMessage,
                }
            } else {
                data = {
                    'csrfmiddlewaretoken': csrftoken,
                }
            }
            
            $.post(url, data)
            .done(()=>{
                location.reload()
            })
        })
    </script>
{% endblock postload_js %}