{% extends 'base.html' %}
{% load static %}
{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock page_header %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-md-8 my-auto">
                <img id="page-logo" class="d-lg-none" src="{{ MEDIA_URL }}my-shop-logo-1603121535.webp" alt="Paperkins logo">
                <h1 class="display-4 text-light text-shadow logo-font">Unique &amp; Colourful Crafts</h1>                
                <div class="my-3">
                    <h2>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg btn-light rounded-0 text-uppercase shadow">Shop Now</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}