<script type="text/javascript">
    // Disable +/- buttons and submit button
    // outside available stock range
    function handleEnableDisable(itemId) {
        const currentValue = parseInt($(`#id_qty_${itemId}`).val());
        const maxAvailable = parseInt($('#stock-qty').val())
        const minusDisabled = currentValue < parseInt($(`#id_qty_${itemId}`)[0].min) + 1;
        const plusDisabled = currentValue >= parseInt($(`#id_qty_${itemId}`)[0].max);
        const addToBagDisabled = currentValue > maxAvailable;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
        $(`#addToCartButton`).prop('disabled', addToBagDisabled);
    }

    // Display info message if quantity input value is equal to stock_qty value
    // or error message if quantity input value greater than stock_qty value
    function handleQuantityMessage(itemId){
        const currentValue = parseInt($(`#id_qty_${itemId}`).val());
        const maxAvailable = parseInt($('#stock-qty').val())

        if (currentValue == maxAvailable){
            $(`#quantity_message_${itemId}`).text(`Order Limit Reached`)
            $(`#quantity_message_${itemId}`).addClass('text-info')
            $(`#quantity_message_${itemId}`).removeClass('text-danger')

        }else if(currentValue > maxAvailable){{
            $(`#quantity_message_${itemId}`).text(`Exceeds Order Limit`)
            $(`#quantity_message_${itemId}`).addClass('text-danger')
            $(`#quantity_message_${itemId}`).removeClass('text-info')
        }
        } else {
            $(`#quantity_message_${itemId}`).text('')
            $(`#quantity_message_${itemId}`).removeClass('text-info')
            $(`#quantity_message_${itemId}`).removeClass('text-danger')
        }
    }

    // Ensure proper enabling/disabling of all inputs on page load
    const allQtyInputs = $('.qty-input');
    for(let i = 0; i < allQtyInputs.length; i++){
        const itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
        handleQuantityMessage(itemId)
    }

    // Check enable/disable every time the input is changed
    $('.qty-input').change(function() {
        const itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
        handleQuantityMessage(itemId)
    });

    // Increment quantity
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       const closestInput = $(this).closest('.input-group').find('.qty-input')[0];
       const currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue + 1);
       const itemId = $(this).data('item-id');
       handleEnableDisable(itemId);
       handleQuantityMessage(itemId)
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       const closestInput = $(this).closest('.input-group').find('.qty-input')[0];
       const currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue - 1);
       const itemId = $(this).data('item-id');
       handleEnableDisable(itemId);
       handleQuantityMessage(itemId)
    });
</script>