@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Prompt&display=swap');

html {
    height: 100vh;
}

body {
    background: url('/media/katie-rainbow-DjGHuzUh_84-unsplash.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 148px);
    font-family: 'Prompt', sans-serif;
}

.header-container {
    padding-top: 96px;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

#top-nav-logo {
    width: 150px;
}

#page-logo {
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 1rem;
    padding: 1.5rem;
    width: 300px;
    border-radius: 10px
}

a.category-badge>span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.shop-now-button {
    min-width: 180px;
}

.text-shadow-sm {
    text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 1px;
}

.text-shadow {
    text-shadow: rgba(0, 0, 0, 0.6) 2px 2px 2px;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(225, 225, 225, 0.8);
    z-index: -1;
}

.btn:disabled,
.btn[disabled] {
    cursor: not-allowed !important;
    outline: none !important;
    box-shadow: none !important;
}

/* ------------- Media Queries */

/* Larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* Fix top navbar only on medium and up screens */
@media (min-width: 992px) {
    .fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 148px;
    }
}