<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-dark mr-5" href="#" id="all-crafts-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Crafts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-crafts-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">All Crafts</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-dark mr-5" href="#" id="cards-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Greetings Cards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cards-link">
                <a href="" class="dropdown-item">For Him</a>
                <a href="" class="dropdown-item">For Her</a>
                <a href="" class="dropdown-item">Special Occasions</a>
                <a href="" class="dropdown-item">All Cards</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-dark mr-5" href="#" id="collections-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Collections
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="collections-link">
                <a href="" class="dropdown-item">Accessories</a>
                <a href="" class="dropdown-item">Dungeons &amp; Dragons</a>
                <a href="" class="dropdown-item">Lamps</a>
                <a href="" class="dropdown-item">Pins</a>
                <a href="" class="dropdown-item">Plants</a>
                <a href="" class="dropdown-item">Seasonal</a>
                <a href="" class="dropdown-item">Stationery</a>
                <a href="" class="dropdown-item">All Collections</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-dark mr-5" href="#" id="special-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Specials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="special-link">
                <a href="" class="dropdown-item">Custom Commissions</a>
                <a href="" class="dropdown-item">Unique &amp; Collaborations</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>