{% extends "base.html" %}
{% load static %}
{% block extra_title %}| 403 Forbidden{% endblock extra_title %}
{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock page_header %}
{% block content %}
<div class="container d-flex flex-column align-items-center justify-content-center">
    <div class="text-center">
        <h1 class="logo-font">403 Forbidden</h1>
        <p>You are not authorized to perform this action!</p>
    
        <a href="{% url 'home' %}" class="btn btn-dark rounded-0">Home</a>
    </div>
</div>
{% endblock %}