{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_title %}| Update: {{ product.name|title }}{% endblock extra_title %}
{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock page_header %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 text-center">
                <h1 class="mt-4 logo-font text-light text-shadow">Product Management</h1>
                <h5 class="logo-font text-white text-shadow mt-0">Update Product</h5>
                <hr class="bg-warning">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 bg-white p-4">
                <form action="{% url 'update_product' product.id %}" class="form mb-2" method="post" enctype='multipart/form-data' id="product-form">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    {% if images.all.count > 0 %}
                        <p class="text-center font-weight-bold bg-dark text-light p-1">Current Images</p>
                        <div id="current-images" class="row text-center">
                            {% for image in images %}
                            <div class="col-12 col-sm-6 col-lg-4 image-preview" >
                                <img src="{{ MEDIA_URL }}{{image.file_name}}"
                                alt="{{product.name}}"
                                class="mt-1 border border-light image-thumbnail" {% if image.default %}id="primary-image"{% endif %}>
                                <div class="remove-image remove-icon text-danger" data-image-id="{{image.id}}">
                                    <i class="fa-sharp fa-regular fa-square-minus"></i><span> Remove</span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <p class="text-center mt-3 font-weight-bold bg-dark text-light p-1">New Images</p>
                    <div id="image-selector" class="row text-center"></div>
                    <div class="row">
                        <div class="col-6">
                            <a href="{% url 'product_details' product.id %}" class="btn btn-outline-dark rounded-0">Cancel</a>
                        </div>
                        <div class="col-6 text-right">
                            <button type="submit" class="btn btn-info rounded-0">Update Product</button>
                        </div>
                    </div>
                    <input type="hidden" name="primary-image-input" id="primary-image-input" value="">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postload_js %}
    {{ block.super }}
    <script src="{% static 'products/js/imageSelector.js' %}"></script>
    <script src="{% static 'products/js/handleRemoveImage.js' %}"></script>
{% endblock postload_js %}